html,body{width:100%;height:100%;margin: 0;}
#Main{position:absolute;left:0;right:0;top:0;bottom:10px;}
#Main,.touch_scroll{-webkit-overflow-scrolling: touch;}
#info{
    display:none;
    padding:10px;
}

*{
	margin: 5px;
}
html{line-height: 1.6;}
body {
   -webkit-touch-callout: none;
   font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
   color: #333;
   background-color: #fff;
   letter-spacing: .034em;
}
#content {
    overflow: hidden;
    color: #333;
    font-size: 16px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
    letter-spacing:2px;
}
#content img{
	height:100%;
	width:100%;
}
p{margin:30px 0} 


#title{
/*font-size:24px;*/
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 14px;
    font-weight: 400;
}
#subheading{
    color: #65789E;
    font-size:14px;
}
#iconImg{
    width:50px;
    height:50px;
}
#loadingImg{
    position: absolute;
    left:50%;
    margin-left:25px;
    animation: spin 1500ms infinite linear;
    -webkit-animation:  spin 1500ms infinite linear;
    -moz-animation: spin 1500ms infinite linear;
    -o-animation: spin 1500ms infinite linear;
    width:50px;
    height:50px;
}
@keyframes spin {
    0%   { transform: rotate(0deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
    50%   { transform: rotate(180deg);width: 54px; height: 54px;margin-left:-27px;margin-top:-27px; }
    100% { transform: rotate(360deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
}
@-webkit-keyframes spin /* Safari 和 Chrome */
{
    0%   { transform: rotate(0deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
    50%   { transform: rotate(180deg);width: 54px; height: 54px;margin-left:-27px;margin-top:-27px; }
    100% { transform: rotate(360deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
}
@-moz-keyframes spin {
    0%   { transform: rotate(0deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
    50%   { transform: rotate(180deg);width: 54px; height: 54px;margin-left:-27px;margin-top:-27px; }
    100% { transform: rotate(360deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
}
@-o-keyframes spin {
    0%   { transform: rotate(0deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
    50%   { transform: rotate(180deg);width: 54px; height: 54px;margin-left:-27px;margin-top:-27px; }
    100% { transform: rotate(360deg);width: 72px; height: 72px;margin-left:-36px;margin-top:-36px; }
}

#mistiming,#sourceTitle{
	font-size: 12px;
    color: rgb(136, 136, 136);
    margin-bottom: 30px;
}
#bottomInfo{
    font-size: 12px;
    color: rgb(136, 136, 136);
    margin-bottom: 30px;
}
#bottomInfo div{
    margin-bottom:10px;
}
#loading{
    text-align: center;
    margin-top: 30%;
    display: none;
}